/*header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  background-color: #ffffff;
}

.header__menu {
  display: flex;
  
}

.header__content {
  display: flex;
  gap: 40.52px;
} 

.header__menu-list {
  display: flex;
  gap: 13px;
  padding: 133px 0 138px 50px;
}

.header__menu-item {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-display: swap;
}

.header__menu-item__circle-none {
  width: 84px;
  height: 21px; 
  list-style: none;
}

.header__menu-item__circle {
  width: 172px;
  height: 22px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__menu-item__circle-information {
  width: 108.48px;
  height: 22px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__menu-main {
  text-decoration: none;
}

.header__menu-lots {
  text-decoration: underline;
  list-style: circle;
}

.header__menu-information {
  text-decoration: underline;
  list-style: circle;
}

.header__logo {
  width: 138px;
}

.header__logo-img {
  padding: 92px 0 96px 0;
}

.header__menu-contacts {
  display: grid;
  gap: 2px;
  align-self: center;
  padding: 0 0 8px 192px;
}

.header__menu-contacts_number {
  padding: 3px 0 0 0;
  font-size: 18px;
  text-underline-offset: 5px;
}

.header__menu-contacts_email {
  padding: 0 0 5px 0;
  font-size: 18px;
  text-underline-offset: 5px;
}

.header__menu-contacts_address {
  width: 200px;
  height: 49px;
  overflow-wrap:normal;
  font-size: 18px;
  text-decoration: none;
  line-break:loose;
}

.header__menu-contacts__tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-display: swap;
  line-height: 24.3px;
}

/*cover*/

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
}

.cover__img {
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}
 
.cover-img__overley {
  position: absolute;
  z-index: 2;
  display: block;
width: 1100px;
  height: 757px;        
	background: transparent;
background-color:rgba(0, 0, 0, 0.5 );
  }

.cover__title {
  position: absolute;
  z-index: 3;
  display: grid;
  grid-template-rows: repeat(1,3) 1fr;
  row-gap: 21px;
  padding: 162px 0 0 0;
}

.cover__title-left {
  padding: 0 0 0 50px;
}

.cover__title-center {
  padding: 0 0 0 380.5px;
}

.cover__title-right {
  padding: 0 0 0 663px;
}

.cover__title-tipography {
  color: #ffffff;
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  position: absolute;
  z-index: 4;
  display: flex;
  padding: 653px 50px 50px 50px;
}

.description-text {
  padding: 11px 0 59px 0;
  word-spacing: 18.5px;
}

.description-button {
  display: block;
  align-self:flex-start;
  margin: 0 0 0 105px;
  border:  1px solid white;
  padding: 12px 32px;
  color:#ffffff;
  background: transparent;
}


.description-text__tipography {
  color:#ffffff;
  font-family: "Raleway",sans-serif; 
  font-weight: 400;
font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.description-button__tipography {
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.content__lots {
  margin: auto;
  padding: 178px 0 0 24px;
}

.content__lots-title {
  padding: 4px 0 0 40px;
  
}

.content__lots-title__tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.card-tipography__title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
}

.card-tipography__text {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

 /*lots*/

.lots {
  padding: 140px 24px 0 24px;
}

.lots__title {
  padding: 40px 891px 27px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card {
  display: flex;
  gap: 25px;
}

.lots-card__all {
  position: relative;
  width: 334px;
  height: 596px;
}

.lots-card-film__img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.lots-card__blackout {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lots-card-film__title {
  position: absolute;
  z-index: 3;
  padding: 48px 40px 0 40px ;
}

.lots-card-film__text {
  position: absolute;
  z-index: 3;
  padding: 404px 40px 48px 40px;
}

.lots-card-book__img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.lots-card-book__title {
  position: absolute;
  z-index: 3;
  padding: 48px 40px 0 40px;
}

.lots-card-book__text {
  position: absolute;
  z-index: 3;
  padding:188px 40px 48px 40px;
}

.lots-card-picture__img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots-card-picture__title {
  position: absolute;
  z-index: 3;
  padding: 48px 40px 0 40px;
}

.lots-card-picture__text {
  position: absolute;
  z-index: 3;
  padding: 284px 40px 48px 40px;
}

.aside__lots {
  padding: 30px 820px 0px 40px;
}


.aside-lots__link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;  
  text-underline-offset: 4px;
}

/*about*/

.about {
  position: relative;
  padding: 120px 24px 160px 24px;
}

.about__border {
  position: absolute;
  z-index: 1;
  padding: 35px 765px 320px 47px;
}

.about__border-change {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  
}


.about__img {
  position: absolute;
  z-index: 2; 
  padding: 99px 810px 382px 93px;
}

.about__img-change {
  width: 148px;
  height: 114px;
  background-image: url(../images/logo-white.svg);
}

.about__content {
  padding: 133px 0 13px 359px;
}

.about__title {
  padding: 7px 402px 0 0 ;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  padding: 105px 5px 0 0 ;
}

.about__text-two {
  padding: 24px 0 13px 0;
}

.about__text-tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* footer */

.footer {
  margin: auto;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer-contacts__list {
  padding: 0 30px 0 50px;
}

.footer-contacts-list__menu {
  display: grid;
  grid-template-rows: repeat(1,3) 1fr;
}

.footer-contacts-list-menu__number {
  text-underline-offset: 4px;
}

.footer-contacts-list-menu__email {
  text-underline-offset: 4px;
}

.footer-contacts-list-menu__adress {
  max-width: 260px;
}

.footer-contacts__tepography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.footer-menu {
  padding: 1px 48px 0 0;
}

.footer-menu__list {
  list-style: none;
}

.footer-menu-list__main {
  text-align: center;
}

.footer-menu__main {
  text-align: center;
  text-decoration: none;
}

.footer-menu-list__lots {
  padding: 3px 0 0 0;
  text-align: center;
  text-underline-offset: 4px;
}

.footer-menu-list__information {
  padding: 3px 0 0 0;
  text-align: center;
  text-underline-offset: 4px;
}

.footer-menu-list__tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 1px 50px 131px 0;
}

.footer-logo__left {
  width: 48px;
  height: 48px;
}

.footer-logo-left__youtube {
  width: 100%;
  height: 100%;
  background-image: url(../images/yt.svg);
  background-position: center;
  background-size: cover;
}

.footer-logo__center {
  width: 48px;
  height: 48px;
}

.footer-logo-center__vk {
  width: 100%;
  height: 100%;
  background-image: url(../images/vk.svg);
  background-position: center;
  background-size: cover;
}

.footer-logo__right {
  width: 48px;
  height: 48px;
}

.footer-logo__pinterest {
  width: 100%;
  height: 100%;
  background-image: url(../images/pinterest.svg);
  background-position: center;
  background-size:cover;
}

/*Криво получилось чет многовато стилей. Проблема есть у меня со вложенностью.*/