/* место для вашего кода */

/* стили header */

.header {
  padding: 90px 50px 87px 50px;
}

.header__menu {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  gap: 36.52px;
}

.header__menu-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}

.header__menu-item__main {
  width: 67px;
  list-style-type: none;
}

.header__menu-item__lots {
  width: 188px;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 8px;
}

.header__menu-item__information {
  width: 137px;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 1px;
}

.header__menu-item__link {
  text-underline-offset: 4px;
}

.header__logo {
  width: 136.11px;
}

.header__menu-contacts {
  padding-top: 9px;
  padding-right: 9px;
}

.menu-contacts__link {
  display: grid;
  grid-template-rows: repeat(3,max-content) 1fr;
  max-width: 230px;
  justify-self: end;
  gap: 8px;
  padding: 0 10px 10px 0;
}

.link__active-contacts {
  text-underline-offset: 4px;
}

.link-active {
  text-decoration: none;
}

.tipography__menu {
  font-family: "Raleway",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.tipography__contacts {
  font-family: "Raleway",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  font-style: normal;
}

/* стили cover */

.cover {
  display: grid;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  width: 1100px;
  z-index: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;;
  z-index: 1;
}

.cover__title {
  display: grid;
  grid-template-rows: repeat(3,max-content)1fr;
  padding: 165px 764px 0 50px;
  row-gap: 18px;
  z-index: 2;
}

.cover__title-center {
  padding-left: 330.5px;
  z-index: 2;
}

.cover__title-right {
  padding-left: 614px;
  z-index: 2;
}

.cover__title-tipography {
  font-family: "Raleway",sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cover__description {
  display: flex;
  padding: 88px 50px 50px 50px;
  gap: 105px;
  z-index: 2;
}

.description-text {
  padding-top: 10px;
}

.description-text__tipography {
  font-family: "Raleway",sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  word-spacing: 19px;
}

.description-button {
  border:  1px solid white;
  color:#ffffff;
  background: transparent;
  padding: 12px 32px 11px 31px;
}

.description-button__tipography {
  font-family: "Raleway",sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* стили lots */

.lots {
  padding: 183px 24px 0px 24px;
}

.lots__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  padding: 0 0 27px 40px;

}

.lots__card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5px;
}

.lots__card-img__located {
  background-size: cover;
  background-position: center;
}

.lots__card {
  position: relative;
  padding: 48px 40px 48px 40px;
  z-index: 0;
  width: 334px;
}

.lots-card__start {
  background-image: url(../images/card-lot-01.jpg);

}

.lots-card__center {
  background-image: url(../images/card-lot-02.jpg);

}

.lots-card__end {
  background-image: url(../images/card-lot-03.jpg);

}

.card__tipography-text {
  position: relative;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}

.card-tipography__title {
  position: relative;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-transform: uppercase;
  text-underline-offset: 3px;
  z-index: 2;
}

.lots-card {
  padding: 48px 40px 0 40px ;
}

.card__start-text {
  padding-top: 280px;
}

.card__center-text {
  padding-top: 37px;
}

.card__end-text {
  padding-top: 133px;
}

.lots__link {
  padding: 29px 0 0 40px;
}

.lots__link-more {
  text-underline-offset: 5px;
}

.lots__link-tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/*стили about*/

.about {
  position: relative;
  padding: 116px 24px 155px 24px;
}

.about__border {
  position: absolute;
  z-index: 1;
  padding: 35px 765px 320px 47px;
}

.about__border-change {
  min-width: 240px;
  min-height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__img {
  position: absolute;
  z-index: 2;
  padding: 99px 810px 382px 93px;
}

.about__img-change {
  min-width: 148px;
  min-height: 114px;
  background-image: url(../images/logo-white.svg);
}

.about__content {
  padding: 129px 0 13px 359px;
}

.about__title {
  padding: 7px 402px 0 0 ;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-start {
 padding: 102px 5px 21px 0;
}

.about__text-end {
  padding: 8px 5px 0 0;
}

.about__text-tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

/*стили footer*/

.footer {
  margin: auto;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer-contacts__list {
  padding: 20px 0 0 50px;
}

.footer-contacts-list__menu {
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr;
  gap: 8px;
  width: 237px;   
}

.footer-menu {
  padding: 16px 0 0 6px
}

.footer-menu__list {
  list-style: none;
}

.footer-menu-list__main {
  text-align: center;
}

.footer-menu__main {
  text-align: center;
  text-decoration: none;
}

.footer-menu-list__lots {
  text-align: center;
  text-underline-offset: 4px;
}

.footer-menu-list__information {
  text-align: center;
  text-underline-offset: 4px;
}

.footer-menu-list__tipography {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 15px 50px 131px 0;
}

.footer-logo__img {
  min-width: 48px;
  min-height: 48px;
}

.footer-logo-left__youtube {
  background-image: url(../images/yt.svg);
}

.footer-logo__general {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.footer-logo-center__vk {
  background-image: url(../images/vk.svg);
}

.footer-logo__pinterest {
  background-image: url(../images/pinterest.svg);
}

/*Криво получилось чет многовато стилей. Проблема есть у меня со вложенностью.*/